In [56]:
%pip install numpy
%pip install bs4
%pip install scikit-optimize
%pip install line_profiler
%pip install sklearn
%pip install shap
%pip install SALib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/admin1/.local/lib/python3.10/site-packages (1.25.2)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in /home/admin1/.local/lib/python3.10/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /home/admin1/.local/lib/python3.10/site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /home/admin1/.local/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.5)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-optimize in /home/admin1/.local/lib/python3.10/site-packages (0.10.2)
Requirement already satisfied: packaging>=21.3 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-optimize) (23.1)
Requirement already satisfied: pyaml>=16.9 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-optimize) (25.1.0)
Requirement already satisfied: joblib>=0.11 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-optimize) (1.3.2)
Requirement already satisfied: scikit-learn>=1.0.0 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-optimize) (1.3.2)
Requirement already satisfied: numpy>=1.20.3 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-optimize) (1.25.2)
Requirement already satisfied: scipy>=1.1.0 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-optimize) (1.11.4)
Requirement already satisfied: PyYAML in /usr/lib/python3/dist-packages (from pyaml>=16.9->scikit-optimize) (5.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-learn>=1.0.0->scikit-optimize) (3.2.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: line_profiler in /home/admin1/.local/lib/python3.10/site-packages (4.2.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in /home/admin1/.local/lib/python3.10/site-packages (0.0.post11)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: shap in /home/admin1/.local/lib/python3.10/site-packages (0.34.0)
Requirement already satisfied: numpy in /home/admin1/.local/lib/python3.10/site-packages (from shap) (1.25.2)
Requirement already satisfied: scikit-learn in /home/admin1/.local/lib/python3.10/site-packages (from shap) (1.3.2)
Requirement already satisfied: tqdm>4.25.0 in /home/admin1/.local/lib/python3.10/site-packages (from shap) (4.66.1)
Requirement already satisfied: scipy in /home/admin1/.local/lib/python3.10/site-packages (from shap) (1.11.4)
Requirement already satisfied: pandas in /home/admin1/.local/lib/python3.10/site-packages (from shap) (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /home/admin1/.local/lib/python3.10/site-packages (from pandas->shap) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/admin1/.local/lib/python3.10/site-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-learn->shap) (3.2.0)
Requirement already satisfied: joblib>=1.1.1 in /home/admin1/.local/lib/python3.10/site-packages (from scikit-learn->shap) (1.3.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas->shap) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting SALib
  Downloading salib-1.5.1-py3-none-any.whl (778 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 778.9/778.9 KB 4.1 MB/s eta 0:00:00a 0:00:01
Collecting multiprocess
  Downloading multiprocess-0.70.17-py310-none-any.whl (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 KB 12.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in /home/admin1/.local/lib/python3.10/site-packages (from SALib) (1.25.2)
Collecting pandas>=2.0
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 12.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: scipy>=1.9.3 in /home/admin1/.local/lib/python3.10/site-packages (from SALib) (1.11.4)
Requirement already satisfied: matplotlib>=3.5 in /home/admin1/.local/lib/python3.10/site-packages (from SALib) (3.8.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/admin1/.local/lib/python3.10/site-packages (from matplotlib>=3.5->SALib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/admin1/.local/lib/python3.10/site-packages (from matplotlib>=3.5->SALib) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib>=3.5->SALib) (2.4.7)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib>=3.5->SALib) (9.0.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/admin1/.local/lib/python3.10/site-packages (from matplotlib>=3.5->SALib) (1.2.0)
Requirement already satisfied: packaging>=20.0 in /home/admin1/.local/lib/python3.10/site-packages (from matplotlib>=3.5->SALib) (23.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/admin1/.local/lib/python3.10/site-packages (from matplotlib>=3.5->SALib) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /home/admin1/.local/lib/python3.10/site-packages (from matplotlib>=3.5->SALib) (4.45.1)
Requirement already satisfied: pytz>=2020.1 in /home/admin1/.local/lib/python3.10/site-packages (from pandas>=2.0->SALib) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/admin1/.local/lib/python3.10/site-packages (from pandas>=2.0->SALib) (2023.3)
Collecting dill>=0.3.9
  Downloading dill-0.3.9-py3-none-any.whl (119 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.4/119.4 KB 10.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib>=3.5->SALib) (1.16.0)
Installing collected packages: dill, pandas, multiprocess, SALib
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.2
    Uninstalling pandas-1.5.2:
      Successfully uninstalled pandas-1.5.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
crosspredict 1.1.9 requires category-encoders>=2.1.0, which is not installed.
crosspredict 1.1.9 requires pytest-print==0.3.0, which is not installed.
crosspredict 1.1.9 requires pytest==6.2.4, but you have pytest 7.4.2 which is incompatible.
crosspredict 1.1.9 requires pyyaml==5.3, but you have pyyaml 5.4.1 which is incompatible.
Successfully installed SALib-1.5.1 dill-0.3.9 multiprocess-0.70.17 pandas-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [40]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import Lasso
from sklearn.inspection import permutation_importance
import pandas as pd
import numpy as np
np.bool = np.bool_
import shap


def shap_feature_importance(X, y):
    model = RandomForestRegressor(random_state=42)
    model.fit(X, y)
    explainer = shap.TreeExplainer(model)
    shap_values = explainer.shap_values(X)
    shap_sum = np.abs(shap_values).mean(axis=0)
    shap_importance = pd.DataFrame({'Feature': X.columns, 'SHAP Importance': shap_sum})
    shap_importance = shap_importance.sort_values(by='SHAP Importance', ascending=False)
    return shap_importance

# 2. Random Forest Feature Importance
def random_forest_feature_importance(X, y):
    model = RandomForestRegressor(random_state=42)
    model.fit(X, y)
    rf_importance = pd.DataFrame({'Feature': X.columns, 'RF Importance': model.feature_importances_})
    rf_importance = rf_importance.sort_values(by='RF Importance', ascending=False)
    return rf_importance

# 3. L1 Regularization (Lasso) Feature Importance
def lasso_feature_importance(X, y):
    model = Lasso(alpha=0.00001, max_iter=10000)
    model.fit(X, y)
    lasso_importance = pd.DataFrame({'Feature': X.columns, 'Lasso Coefficient': np.abs(model.coef_)})
    lasso_importance = lasso_importance.sort_values(by='Lasso Coefficient', ascending=False)
    return lasso_importance

# 4. Permutation Feature Importance
def permutation_feature_importance(X, y):
    model = RandomForestRegressor(random_state=42)
    model.fit(X, y)
    perm_importance = permutation_importance(model, X, y, n_repeats=10, random_state=42)
    perm_importance_df = pd.DataFrame({'Feature': X.columns, 'Permutation Importance': perm_importance.importances_mean})
    perm_importance_df = perm_importance_df.sort_values(by='Permutation Importance', ascending=False)
    return perm_importance_df

# 5. Gradient Boosting Feature Importance
def gradient_boosting_feature_importance(X, y):
    model = GradientBoostingRegressor(random_state=42)
    model.fit(X, y)
    gb_importance = pd.DataFrame({'Feature': X.columns, 'GB Importance': model.feature_importances_})
    gb_importance = gb_importance.sort_values(by='GB Importance', ascending=False)
    return gb_importance

In [12]:
# def remove_symbols_from_file(file_path, symbols_to_remove):
#     with open(file_path, 'r') as file:
#         content = file.read()
    
#     for symbol in symbols_to_remove:
#         content = content.replace(symbol, '')
    
#     return content

# file_path = 'optimals.txt'
# symbols_to_remove = ['[', ']']
# cleaned_content = remove_symbols_from_file(file_path, symbols_to_remove)
# print(cleaned_content)

# with open(file_path, 'w') as file:
#     file.write(cleaned_content)

In [49]:
from sklearn import preprocessing

X = pd.read_csv('optimals.txt')
X.columns = [f'feature_{i}' for i in range(X.shape[1])]
y = pd.read_csv('scores.txt')
y.columns = ['score (TPS)']

x = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pd.DataFrame(x_scaled)

X.head()

,0,1,2,3,4,5,6,7,8,9,...,111,112,113,114,115,116,117,118,119,120
0,0.285714,0.638889,0.000000,1.000000,0.679049,1.000000,0.571429,0.517241,0.00,0.000000,...,0.833333,0.266667,0.470588,0.9,0.487796,0.166667,0.1875,0.000000,0.117647,1.000000
1,0.000000,0.833333,0.882641,0.041667,0.000000,0.109091,0.000000,1.000000,1.00,0.714286,...,1.000000,1.000000,0.000000,0.3,1.000000,0.333333,1.0000,0.888889,1.000000,0.413023
2,0.571429,1.000000,0.413203,0.250000,0.251114,0.018182,0.285714,0.275862,0.42,1.000000,...,0.000000,0.000000,0.647059,0.0,0.115068,1.000000,0.0000,1.000000,0.823529,0.635303
3,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.68,0.285714,...,0.166667,0.533333,1.000000,1.0,0.000000,0.000000,0.9375,0.000000,0.000000,0.000000

In [50]:
y.head()

   score (TPS)
0      401.850
1      400.600
2      399.250
3      394.625

In [51]:
df = shap_feature_importance(X, y)
df.head(30)

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
Setting feature_perturbation = "tree_path_dependent" because no background data was given.

     Feature  SHAP Importance
84        84         0.076406
40        40         0.074688
23        23         0.073922
114      114         0.069365
58        58         0.067292
109      109         0.066377
90        90         0.061146
101      101         0.055797
76        76         0.054375
41        41         0.052609
28        28         0.051327
67        67         0.048531
7          7         0.047220
88        88         0.046056
120      120         0.041703
45        45         0.041646
18        18         0.041516
31        31         0.041095
97        97         0.040259
63        63         0.039250
66        66         0.037344
65        65         0.036125
43        43         0.032992
119      119         0.032219
98        98         0.031500
48        48         0.030859
21        21         0.030708
108      108         0.030708
3          3         0.029964
54        54         0.028188

In [52]:
df = random_forest_feature_importance(X, y.to_numpy())
df.head(30)

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

     Feature  RF Importance
58        58       0.044336
114      114       0.030425
41        41       0.029956
7          7       0.029738
84        84       0.028820
23        23       0.027173
53        53       0.025007
47        47       0.020744
40        40       0.020408
88        88       0.020332
65        65       0.020228
67        67       0.020206
43        43       0.020123
101      101       0.019893
18        18       0.019714
25        25       0.019602
76        76       0.019512
97        97       0.019283
96        96       0.019253
28        28       0.019253
50        50       0.019253
109      109       0.019253
74        74       0.018893
31        31       0.018649
120      120       0.018484
90        90       0.018192
63        63       0.011907
102      102       0.011524
79        79       0.011273
45        45       0.011228

In [53]:
df = lasso_feature_importance(X, y)
df.head(30)

    Feature  Lasso Coefficient
0         0           6.537061
2         2           2.591183
4         4           1.493673
1         1           1.093908
5         5           0.403856
9         9           0.337281
7         7           0.242856
8         8           0.214362
10       10           0.143019
12       12           0.124528
6         6           0.116226
3         3           0.093249
11       11           0.049876
13       13           0.044027
16       16           0.036283
15       15           0.026174
17       17           0.014626
14       14           0.007251
19       19           0.003894
20       20           0.002628
21       21           0.001657
18       18           0.001423
22       22           0.001234
23       23           0.001129
28       28           0.000483
29       29           0.000425
24       24           0.000365
31       31           0.000220
32       32           0.000161
27       27           0.000129

In [54]:
df = permutation_feature_importance(X, y)
df.head(30)

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

     Feature  Permutation Importance
114      114                0.019399
23        23                0.018594
7          7                0.017209
84        84                0.016880
109      109                0.016710
88        88                0.016681
101      101                0.016531
41        41                0.016187
97        97                0.015349
120      120                0.014712
31        31                0.014572
28        28                0.014290
67        67                0.013654
90        90                0.012635
43        43                0.012415
18        18                0.011383
76        76                0.011274
113      113                0.011253
58        58                0.010376
103      103                0.009762
45        45                0.009517
65        65                0.009229
44        44                0.009110
48        48                0.009013
13        13                0.008733
54        54                0.008140
106      106                0.008088
10        10                0.008081
119      119                0.008081
6          6                0.008076

In [55]:
df = gradient_boosting_feature_importance(X, y)
df.head(30)

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

     Feature  GB Importance
20        20       0.181924
17        17       0.136471
71        71       0.110541
96        96       0.089538
0          0       0.087610
5          5       0.062774
110      110       0.047584
36        36       0.038543
97        97       0.031229
79        79       0.025289
1          1       0.020508
2          2       0.016592
47        47       0.016547
105      105       0.016414
113      113       0.011550
106      106       0.010889
9          9       0.008794
48        48       0.008768
61        61       0.007123
88        88       0.006125
32        32       0.005785
100      100       0.005770
10        10       0.005063
116      116       0.004810
41        41       0.004685
67        67       0.003796
56        56       0.003344
26        26       0.003262
99        99       0.003066
43        43       0.002973

In [58]:
from SALib import ProblemSpec

model = RandomForestRegressor()
model.fit(X, y)

problem = {
    'num_vars': X.shape[1],
    'names': X.columns.tolist(),
    'bounds': [[X[col].min(), X[col].max()] for col in X.columns]
}

sp = ProblemSpec(problem)
sp.sample_saltelli(1000)

sp.set_results(model.predict(sp.samples))
sp.analyze_sobol()

sp

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

        Convergence properties of the Sobol' sequence is only valid if
        `N` (1000) is equal to `2^n`.

Samples:
	121 parameters: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]
	244000 samples
Outputs:
	1 outputs: ['Y']
	244000 evaluations
Analysis:
           ST   ST_conf
0    0.022418  0.002671
1    0.000917  0.000127
2    0.000000  0.000000
3    0.000000  0.000000
4    0.022062  0.002096
..        ...       ...
116  0.014113  0.001384
117  0.002196  0.000347
118  0.000000  0.000000
119  0.001887  0.000183
120  0.000000  0.000000

[121 rows x 2 columns]
           S1   S1_conf
0    0.012698  0.013703
1    0.001750  0.002435
2    0.000000  0.000000
3    0.000000  0.000000
4    0.023743  0.014282
..        ...       ...
116  0.009974  0.011032
117  0.000732  0.004057
118  0.000000  0.000000
119  0.001702  0.004182
120  0.000000  0.000000

[121 rows x 2 columns]
                      S2       S2_conf
(0, 1)      1.370988e-02  1.870169e-02
(0, 2)      1.384197e-02  1.870435e-02
(0, 3)      1.384197e-02  1.870435e-02
(0, 4)      1.401659e-02  1.901500e-02
(0, 5)      1.385425e-02  1.864074e-02
...                  ...           ...
(117, 119)  5.023259e-03  6.076505e-03
(117, 120)  5.040288e-03  6.061238e-03
(118, 119)  4.119968e-18  4.927297e-18
(118, 120)  0.000000e+00  0.000000e+00
(119, 120) -4.255585e-04  6.206007e-03

[7260 rows x 2 columns]

In [65]:
sobol_df = pd.DataFrame({
        'Feature': problem['names'],
        'S1': sp.analysis['S1'],
        'ST': sp.analysis['ST']
    }).sort_values(by='ST', ascending=False)

sobol_df.head(30)

     Feature        S1        ST
62        62  0.083419  0.085021
48        48  0.053938  0.084292
113      113  0.076571  0.076452
24        24  0.054355  0.058726
59        59  0.052675  0.053686
11        11  0.048309  0.053068
43        43  0.044901  0.048854
33        33  0.045690  0.047482
70        70  0.043056  0.038385
107      107  0.024286  0.026464
20        20  0.025732  0.023223
0          0  0.012698  0.022418
4          4  0.023743  0.022062
103      103  0.015140  0.020958
69        69  0.019242  0.020257
47        47  0.019642  0.019215
79        79  0.025386  0.018900
84        84  0.012516  0.017510
28        28  0.016752  0.015466
86        86  0.014682  0.014334
116      116  0.009974  0.014113
32        32  0.012109  0.013253
10        10  0.020159  0.012458
46        46  0.013511  0.012014
66        66  0.015120  0.011680
93        93  0.010059  0.010570
30        30  0.010342  0.010445
44        44  0.005841  0.010283
45        45  0.007751  0.009206
56        56  0.011932  0.009038

In [70]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
X_pca = pca.fit_transform(X)

loadings = pd.DataFrame(
        np.abs(pca.components_),
        columns=X.columns
    )

explained_variance = pca.explained_variance_ratio_
weighted_loadings = loadings.multiply(explained_variance, axis=0)
importance_scores = weighted_loadings.sum(axis=0).sort_values(ascending=False)

results = pd.DataFrame({
    'Feature': importance_scores.index,
    'Importance': importance_scores.values
}).reset_index(drop=True)

results.head(30)

    Feature  Importance
0       118    0.086753
1        86    0.086143
2        34    0.085585
3       109    0.083826
4       119    0.082628
5        18    0.082149
6        81    0.081765
7        31    0.081156
8        13    0.080372
9        51    0.079751
10        3    0.078435
11       83    0.078297
12       17    0.076382
13        2    0.076276
14       76    0.075454
15       84    0.075214
16      106    0.075146
17        5    0.075109
18        4    0.074887
19      114    0.074631
20       74    0.072762
21       73    0.071765
22       57    0.071357
23       38    0.071195
24        6    0.070989
25       42    0.070579
26       50    0.070447
27       44    0.069624
28       68    0.069257
29        1    0.069068